[submodule "html/themes/custom"]
	path = html/themes/custom
	url = git@gitlab.com:priceinsight/priceinsight-theme.git
	branch = 32-cleanup-homepage
[submodule "html/modules/custom"]
	path = html/modules/custom
	url = git@gitlab.com:priceinsight/web/priceinsight-features.git
	branch = 18-apply-features
