[submodule "html/themes/custom"]
	path = html/themes/custom
	url = git@gitlab.com:priceinsight/priceinsight-theme.git
	branch = develop
[submodule "html/modules/custom"]
	path = html/modules/custom
	url = git@gitlab.com:priceinsight/web/priceinsight-features.git
	branch = develop
